.home_header{
    // background:url(./img/oss_5c2497f0c4f9f.jpg) no-repeat center;
    // background-size:100%;
    height:255px;
    position:relative;
    .ant-page-header{
        padding:  10px;
        .ant-page-header-heading-sub-title{
            color: #fff;
        }
        .ant-page-header-heading-title{
            color: #fff;
            font-size: 14px;
        }
        .anticon-user{
            color: #fff;
            font-size: 20px;
        }
    }
    .ant-input-affix-wrapper{
        margin:0 9%;
        width:82%;
        height:41px;
        line-height:41px;
        position:absolute;
        top:180px;
        .SearchOutlined{
            color: #bbb;
        }
    }
}
.gutter-row{
    text-align: center;
    padding: 20px 0 15px;
    div{
        width: 45px;
        height: 45px;
        margin: 0 auto;
        border-radius: 40%;
        .anticon{
            color: #fff;
            font-size: 28px;
            line-height: 40px;
            margin-top: 5px;
        }
    }
    p{
        font-size: 14px;
        font-weight: bold;
        color: #5a5c5d;
        margin: 7.5px 0 0;
    }
}
.recom{
    .gutter-row{
        padding: 0 !important;
    }
    img{
        width: 164px;
    }
}
.guess{
    padding: 0 15px;
    font-size: 17px;
    line-height: 60px;
    font-weight: bold;

}
.youLike{
    padding:11px 0 0 ;
    img{
        width: 105px;
        height: 105px;
    }
    .desc{
        background:rgba(0,0,0,.3);
        color: #FFF;
        font-size: 10px;
        font-weight: normal;
        width: 105px;
        line-height: 17px;
        position: absolute;
        right: 0;
        left: 0;
        top: 101px;
        margin: 0 auto;
    }
    .gutter-row2{
        text-align: left;
        h2{
            margin: 0;
            font-size:16px;
            font-weight: bold;
            color: #1c1c1c;
            word-break:keep-all;
            white-space:nowrap;
            overflow:hidden;
            text-overflow:ellipsis;
        }
        span{
            display: block;
        }
        .house-tag{
            display:inline;
            margin:0 5px 0 0;
            padding:0 2px;
            color:"#7f8c9c";
            background:#f2f2f2;
            font-size:11px;
            border:none
        }
        
    }
}